service routing protocols model multi-agent

ip virtual-router mac-address 001c.7300.0099


ip prefix-list LOOPBACK
    seq 10 permit 192.168.101.0/24 eq 32
    seq 20 permit 192.168.102.0/24 eq 32
 

route-map LOOPBACK permit 10
   match ip address prefix-list LOOPBACK


router bgp {{ underlay[inventory_hostname]['BGP']['ASN'] }}
   router-id {{ underlay[inventory_hostname]['interfaces']['loopback0']['ipv4']}}



   bgp default ipv4-unicast transport ipv6
   bgp default ipv6-unicast
   neighbor UNDERLAY peer group

{% for interface in underlay[inventory_hostname]['interfaces'] %}
{% if 'thernet' in interface %}
   neighbor interface {{interface}} peer-group UNDERLAY remote-as {{ underlay[inventory_hostname]['BGP']['spine-ASN'] }}
{% endif %}
{% endfor %}
   redistribute connected
   
   address-family ipv4
      bgp next-hop address-family ipv6
      neighbor UNDERLAY activate
      neighbor UNDERLAY next-hop address-family ipv6 originate
      network  {{ underlay[inventory_hostname]['interfaces']['loopback0']['ipv4']}}/{{ underlay[inventory_hostname]['interfaces']['loopback0']['mask']}}
      network  {{ underlay[inventory_hostname]['interfaces']['loopback1']['ipv4']}}/{{ underlay[inventory_hostname]['interfaces']['loopback1']['mask']}}
      
   address-family ipv6
      neighbor UNDERLAY activate



{% for peer in underlay[inventory_hostname]['BGP']['spine-peers'] %}
   neighbor {{ peer }} peer group Underlay
{% endfor %}   
{% if underlay[inventory_hostname]['MLAG'] == "Odd" %}
   neighbor 192.168.255.2 peer group LEAF_Peer
   {% else %}
   neighbor 192.168.255.1 peer group LEAF_Peer
{% endif %}
